* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    font: inherit;
}
button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}
span,img,ion-icon {display: block;}
html {
    font-family: "Barlow" sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
    font-family: "Fraunces" sans-serif;
}

.container {
    background: var(--snow);
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: hsl(200,100%,62%);
}
.navbar {
    position: relative;
}
